.all-users-main {
    text-align: center;
}

.all-users-header-text {
    text-transform: uppercase;
    color: #f1aa9b;
}

.all-users-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.all-users-link {
    all: unset;
}
