.rentals-main {
    text-align: center;
    color: #f1aa9b;
}

.rentals-h1 {
    text-transform: uppercase;
}

.rentals-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.rentals-link {
    all: unset;
}
