.rental-compact-main {
    text-align: center;
    border-radius: 1px;
    margin: 15px;
    padding: 10px;
    background-color: #eeeeee;
    cursor: pointer;
    width: 250px;
    height: 300px;
    color: #312c51;
    transition: all 0.2s ease-in-out;
}

.rental-compact-main:hover {
    transform: translateY(2px);
}

.img {
    border-radius: 1px;
    width: 100%;
}
